<div class="card d -flex justify-content-center">
    <div class="d-flex justify-content-center align-items-center gap2">
        <label class="mb-0">Producto: </label>
        <p-autoComplete
            #ACProducto
            id="ac_producto"
            placeholder="Ingrese su Producto"
            [(ngModel)]="selectedItem"
            [suggestions]="suggestions"
            (onKeyUp)="buscarProductos($event)"
            (onSelect)="click($event)"            
            (completeMethod)="search($event)" />
            <p-button label="Limpiar" severity="warning" />
    </div>
    <div class="d-flex justify-content-center align-items-center gap-2">
        <small>
            Ingrese el nombre del producto a buscar...
        </small>
    </div>
</div>
