<div class="d-flex flex-column">
    <app-menu-main></app-menu-main>
    <div class="d-flex flex-grow-1">
        <app-sidebar-main></app-sidebar-main>
        <div class="d-flex flex-column flex-fill">
            <app-find-producto></app-find-producto>
            <div class="row overflow-auto" style="flex-grow:1;">                
                <div class="col-md-4">
                    <app-card [producto]="productos[0]"></app-card>
                </div>                                
            </div>
        </div>
    </div>
</div>





    
    

