<div class="row-2 p-4">
    <div class="col-2">
        <p-card [header]="producto.oferta === 1 ? 'Producto en oferta' : 'Producto regular'">
            <p-card [header]="producto.nombreProducto" [subheader]="producto.descripcion" [style]="{ width: '25vh' }">
                <ng-template pTemplate="header">
                    <img alt="Card" [src]="producto.linkImagen" />
                </ng-template>                
                <ng-template pTemplate="footer">
                    <div class="flex gap-3 mt-1">                        
                        <p-button label="Seleccionar" class="w-full" styleClass="w-full" />
                    </div>
                </ng-template>
            </p-card>
        </p-card>
    </div>
</div>

