<ng-container>
    <div style="height: 50vh;">
        <p-card
            [header]="producto.title | title2lines:40 | uppercase "
            [subheader]="producto.description | title2lines:100 | lowercase"
            [style]="{width: '40vh'}">
            <ng-template pTemplate="header">
                <div
                    style="display:flex; justify-content: center;align-items: center;">

                    <div style="position: relative; width: 100px; height: 100 px;">
                        <i *ngIf="isLoading" class="pi pi-spin pi-spinner"
                        style="position: absolute; top: 50%; left: 50%;transform: translate(-50%, -50%) ;">

                        </i>

                    <p-image
                        [src]="producto.image"
                        [preview]="true" 
                        alt="Imagen"
                        width="80"
                        height="100"
                        >
                        <ng-template pTemplate="indicator">
                            <i class="pi pi-check"></i>
                        </ng-template>
                        </p-image>
                    </div>                    
                </div>
            </ng-template>
            <label><strong>{{ producto.price | number:'1.2-2' | currency:'S/. '
                    }}</strong></label>
            <div class="flex mt-1">
                <p-button label="Seleccionar" class="w-full" (onClick)="click($event)"
                    styleClass="w-full"></p-button>
            </div>
        </p-card>
    </div>
</ng-container>
